<!-- FOOTER CENTER -->
<footer id="footer-center" class="text-center bg-color1 dark-bg">
    <div class="container">
        <div class="ssk-group">
            <a href="" class="ssk ssk-facebook" evt-name="share-fb"></a>
            <a href="" class="ssk ssk-google-plus" evt-name="share-google-plus"></a>
            <a href="" class="ssk ssk-linkedin" evt-name="share-linkedin"></a>
            <a href="" class="ssk ssk-tumblr" evt-name="share-thumblr"></a>
            <a href="" class="ssk ssk-vk" evt-name="share-vk"></a>
            <a href="" class="ssk ssk-email" evt-name="share-email"></a>
        </div>
        <p style="margin-top: 10px">
            <small>Copyright &copy; 2016 - 2017. <a href="http://extensiondev.com" target="_blank" title="Created by ExtensionDev.com">ExtensionDev.com</a>.</small>
        </p>
    </div>
</footer>
</div>
<!-- /#wrap -->

<!-- JavaScript -->
<script src="/js/main.js"></script>

</body>
</html>