.ch-editor-button {
    width: 32px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    z-index: 9980;
}
.ch-editor-button:active {
    margin-top: 1px;
    margin-left: 1px;
}

.ch-active-editor-settings {
    background-image:url('chrome-extension://__MSG_@@extension_id__/img/active-editor-settings.png');
}
.ch-active-editor-settings.discard {
    background-image:url('chrome-extension://__MSG_@@extension_id__/img/active-editor-settings.png');
}

.ch-save-editor-settings {
    background-image:url('chrome-extension://__MSG_@@extension_id__/img/save-editor-settings.png');
}
.ch-save-editor-settings.discard {
    background-image:url('chrome-extension://__MSG_@@extension_id__/img/discard-editor-settings.png');
}

.hidden {
    display: none !important;
}
